<form action="/Payment/Charge" method="POST">
    <article>
        <label>Amount: $100.00</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="pk_test_SHJFpHYCxyb5GuFclEvAuruP"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount="500">
    </script>
</form>